In [2]:
import pandas as pd
import time
import random
from datetime import datetime
import plugins.db as db
import plugins.utils as util
import requests

In [6]:
raw_logs_reviews_list = [] 
BASE_URL = "https://tiki.vn/api/v2/reviews?"

query = """
WITH RECURSIVE CategoryTree AS (
    SELECT category_id, parent_id, name, level
    FROM cleaned.categories
    WHERE name = 'Sách tiếng Việt'
        UNION ALL
    SELECT c.category_id, c.parent_id, c.name, c.level
    FROM cleaned.categories c
    INNER JOIN CategoryTree ct ON c.parent_id = ct.category_id
)
select * from categorytree where category_id = 67879
"""
HEADERS={"User-Agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36"}

data = db.query_db(query)


data

   category_id  parent_id          name  level
0        67879      67872  Luyện thi N3      7

In [ ]:
for index, row in data.iterrows(): 
    product_id = row['product_id']
    spid = row['spid']
    seller_id = row['seller_id']
    total_id = len(data)
    print(f"{index + 1}/{total_id}")
    
    page = 1
    params = {
        'page': page,
        'spid': spid,
        'product_id': product_id,
        'seller_id': seller_id
    }
    response = requests.get(BASE_URL, params=params, headers=HEADERS, timeout=10)
    print(response.json())